body,
html {
        margin: 0;
        padding: 0;
        height: 100%;
}

#container {
        display: flex;
        flex-direction: column;
        height: 100vh;
}

#filterForm {
        display: flex;
        gap: 10px;
        padding: 10px;
        background: #f0f0f0;
        flex-wrap: wrap;
}

#filterForm input,
#filterForm select,
#filterForm button {
        flex: 1 1 150px;
        padding: 6px 8px;
        font-size: 1em;
}

#map {
        flex-grow: 1;
        min-height: 10rem;
}

/* On narrow screens, move filters below the map */
@media (max-width: 600px) {
        #container {
                flex-direction: column;
        }

        #filterForm {
                order: 2;
                padding: 8px;
        }

        #map {
                order: 1;
                height: 60vh;
        }
}

.last_upload {
        text-decoration: underline;
}

.admin-body {
        font-family: sans-serif;
        margin: 2em;
}

form {
        max-width: 400px;
        margin: auto;
}

input[type=password],
button {
        padding: 0.5em;
        margin-top: 1em;
        width: 100%;
}

.warning {
        color: red;
        font-weight: bold;
}

.warning-btn {
        background-color: red;
        border-radius: .2rem;
        border: 1px solid black;
        color: white;
        font-weight: bold;
}

.warning-btn:hover {
        background-color: rgb(255, 99, 99);
}

.attention-btn {
        background-color: orange;
        border-radius: .2rem;
        border: 1px solid black;
        font-weight: bold;
}

.attention-btn:hover {
        background-color: #ffbf48;
}

#infoIcon {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background: white;
        border-radius: 50%;
        padding: .5rem;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        z-index: 1000;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
}

#infoPopup {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 33vh;
        background: lightgrey;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1001;
        padding: 15px;
        overflow-y: hidden;
}

#chartContainer {
        width: 100%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
}

#elevationChart {
        width: 95% !important;
        height: 100% !important;
}

#infoContent h3 {
        margin-top: 0;
}

#closePopup {
        position: absolute;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        top: 1rem;
        right: 1rem;
        background: darkgrey;
        border: none;
        cursor: pointer;
        border-radius: .25rem;
        font-size: 1rem;
        padding: .25rem;
}